body {
	margin: 8px;
}

a {
	text-decoration: none;
	color: #550;
}

h1, h2 {
	background: #DAF0D6;
	text-align: left;
}

h1 {
	margin-top: 0px;
	font-size: 150%;
	color: #000;
}

h2 {
	font-size: 100%;
	margin-top: 1em;
}

.plus {
	float: right;
	font-size: 8px;
	font-weight: normal;
	padding: 1px 4px 2px 4px;
	margin: 0px 0px;
	background: #88DD88;
	color: #000;
	border: 1px solid #117743;
	cursor: hand;
	cursor: pointer;
}

.plus:hover {
	background: #da8;
	border: 1px solid #c97;
}

ul {
	list-style: none; 
	padding-left: 0px;
	margin: 0px;
}

li {
	margin: 0px;
}

li:hover {
	background: #DAF0D6;
}

li a {
	display: block;
	width: 100%;
}